/*checkout css*/
.listBody { margin-top:50px; } 
.listBody tr.colHdrs {background-color: #F4F4F4; }
.listBody tr.colHdrs th { background-color: #DDD;font-weight: bold;	padding: .2em 2em .2em 16px;text-align: left;vertical-align: top;}
.odd { background-color: #F4F4F4; }

table.striped { border: 1px solid #DDD;	margin:0; width: 100%; }
table.striped th {	background-color: #DDD;	font-weight: bold;}
table.striped td.odd {background-color: #F4F4F4;}

table.printer td, table.striped td, table.striped th {padding: .5em 1em;text-align: left;vertical-align: top;}
.btnsubmit {background-color: #B33F3A;	border: none;color: #FFF;margin: 1em 0 0 0; padding: .5em;}
p { margin: 0 0 1em 0;}
strong, b {font-weight: bold;}
a:hover {color: #931F1A;}
a {color: #B33F3A;}

/*checkout css end */